@import url('https://fonts.googleapis.com/css2?family=Tektur&display=swap');

body {
    background-color: rgb(123, 155, 123)

}
   .container {
    text-align: center;
    font-style: italic;
    font-weight: bold;

   } 

   #profile-info {
    list-style: none;
    padding-inline-start: 0;
   }
#footer {
    position: fixed;
    bottom: 0%;

}

span {
    font-family: 'Tektur', sans-serif;
    font-weight: bold;
}